body {
    color: yellow;
    background-color: grey;
}

p {
    font-size: 20px;
    margin: 25px 25px 25px 25px;
    background-color: grey;
    border: 2px solid green;
}

p.block {
    display: block;

}

img {
    position: relative;
    float: right;
    z-index: -1;

}

h1 {
    font-size: 75px;
    color:black;

}

h2 {
    color: yellow;

}

div.center {
    text-align: center;
}

div.left {
    text-align: left;
}

div.right {
    text-align: right;
}

/* The position of objects with this class will stay static, as in they will be where they appear be in the page layout. */
.div1 {
    padding: 50px 50px 50px 50px;
    overflow: hidden;
    clear: left;
    position: static;
}

.about {
    background-image: url(../Images/Arcade.jpg);
    opacity: 1;
    background-repeat: no-repeat;
}

.clearfix {
    overflow: auto;

}

#underlineify {
    text-decoration: underline;
    color:black;
}

/* My eyes... */

@media only screen and (max-width: 1000px) {
    body {
      background-color: white;
    }
}

.topnav {
    border: 5px solid black;
    padding: 15px 15px 15px 15px;
}


/* Note for myself: Definitely hard to implement, going to need to review this a bit more! */
/*Display is so that it doesn't display menu without being hovered. Z-index so that it stays above everything else.*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}